.user-drop{
  min-width: 185px !important;
  max-width: 185px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.items{
  min-width: 185px !important;
  max-width: 185px !important;
  color: rgb(236, 227, 227) !important;
}

.items:hover{
  color: rgb(94, 93, 93) !important;
  background: rgb(214, 214, 214);
}

#profile-image{
  width: 30px;
  border-radius: 12px;
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 0px;
}