#score{
  text-align: center !important;
  background: #201F20;
  padding-top: 15px;
}

#link-body{
  background-color: #201F20;
  padding: 10px 15px 15px 0px;
}

#link-row2{
  border: 1px solid rgb(88, 82, 82);
  border-radius: 6px;
}

#item-title{
  color: white;
  text-decoration: none;
  width: 93%;
}
