#score{
  text-align: center !important;
  background: #1B1A1B;
  padding-top: 15px;
}

#link-body{
  background-color: #201F20;
  padding: 0px;
}

#link-row{
  border: 1px solid rgb(88, 82, 82);
  border-radius: 6px;
}

#link-row:hover{
  border: 1px solid rgb(194, 182, 182);
}

#item-title{
  color: white;
  text-decoration: none;
}